---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Pricelist from "../components/Pricelist.astro";
import Process from "../components/Process.astro";
import Gallery from "../components/Gallery.astro";
import Testimonials from "../components/Testimonials.astro";
import Location from "../components/Location.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Rumah Jahit Arkadara | Butik Kebaya & Dress Cisauk">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<Pricelist />
		<Process />
		<Gallery />
		<Location />
	</main>
	<Footer />
</Layout>
